/**
 * Backend CSS for admin-specific functionality
 *
 * @package    The Events Calendar Extension: Registration
 * @author     Tobias Fritz - http://wordpress.e-colori.com
 * @since      1.0.0
 * @link       http://wordpress.e-colori.com
 * @copyright  2015 e-colori.com
 * @subpackage /admin/css
 */


/*-----------------------------------------------------------------------------------*/
/*  General
/*-----------------------------------------------------------------------------------*/

 .wpecr_wrapper {
 	display: flex;
 	justify-content: space-between;
 	margin: 10px 20px 0 2px;
 }

 .column-left {
 	min-width: 300px;
 }

 .column-right {
 	max-width: 300px;
 	padding-left: 4em;
 }

 .wpecr_box {
 	border: 1px solid #56b045;
 	padding: 1em;
 }
 #wpecr_e-colori {
 	margin-top: -1em;
 	margin-left: -5px;
 }